{% extends "base.html" %}
{% load static %}
{% block css %}
    <style>
        @media (max-width: 575px) {
            .product_img {
                width: 80px !important;
                height: 45px !important;
            }
        }
    </style>
{% endblock css %}
{% block content %}
    <div class="container-fluid px-0 h-100 main-sec" style="min-height: 50vh;">
        <div class="row d-flex justify-content-between h-100 m-0 py-4 w-100 mx-auto" style="max-width: 1800px;">
            <div class="row m-0 mx-auto" style="padding: 0; margin:0; width: 100%; max-width: 1800px;">
                <div class="col-lg-4 mx-auto" style="max-width: 400px;">
                    <div class="py-3 text-center" style="background-color: white; border-radius: 10px;">
                        <div class="mt-3">
                            <div class="mx-auto mt-3 border rounded p-5" style="width: 90%;">
                                <h5 class="text-secondary text-start mb-2 mt-0">Personal Information</h5>
                                <p>
                                    <strong>
                                        First Name: {{ user.customer.first_name }} {{ user.customer.user_id }}
                                    </strong>
                                </p>
                                <p>
                                    <strong>
                                        Last Name: {{ user.customer.last_name }}
                                    </strong>
                                </p>
                                <p>
                                    <strong>
                                        Email: {{ user.email }}
                                    </strong>
                                </p>
                                {#                                <p class="mb-0">#}
                                {#                                    <a href="/user/profile">#}
                                {#                                        <button class="btn btn-info">Information Settings</button>#}
                                {#                                    </a>#}
                                {#                                </p>#}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8 mt-3 mt-lg-0 mx-auto" style="max-width: 1400px!important;">
                    <div class="py-3 job_info_card h-100" style="background-color: white;border-radius: 10px;">
                        <div class="row text-center my-4 mx-0">
                            <h4 class="text-dark">Order History</h4>
                        </div>
                        {% if not orders %}
                            <div class="d-flex justify-content-center">
                                <div class="alert alert-secondary w-100 text-md-center text-start" role="alert">
                                    <p class="m-0">You order history is empty.<br><a href="../product/search?keyword=">Start
                                        Shopping Today!!!</a></p>
                                </div>
                            </div>
                        {% endif %}
                        <div style="max-width: 800px;">
                            {% for order in orders %}
                                <div class="card d-flex flex-wrap mb-3">
                                    <div class="card-header d-flex flex-wrap w-100 p-2 text-white font-weight-bold"
                                         style="background-color: #17a2b8;">
                                        <p class="d-inline-block mb-0 font-italic">{{ order.created_on }}</p>
                                        <p class="d-inline-block ml-auto mb-0">Order ID: {{ order.id }}</p>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table m-0">
                                            <thead>
                                            <tr>
                                                <th scope="col" style="width: 80px;">Product</th>
                                                <th scope="col">Name</th>
                                                <th scope="col">Price</th>
                                                <th scope="col">Quantity</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <img src=" {{ order.product.image.url }} "
                                                         class="mr-3 product_img"
                                                         alt="product_image"
                                                         width="160"
                                                         height="90"
                                                         style="object-fit: cover; aspect-ratio: 16/9;">
                                                </td>
                                                <td>{{ order.product.product_name }}</td>
                                                <td>{{ order.product.price }}</td>
                                                <td>x{{ order.quantity }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="text-md-right mt-2 px-2">
                                        <button class="btn btn-outline-secondary mr-3 my-2"
                                                data-toggle="modal"
                                                data-target="#exampleModal"
                                                data-merchant-name={{ order.product.merchant.merchant_name }}
                                                        data-merchant-phone={{ order.product.merchant.user.phone }}
                                                data-merchant-email={{ order.product.merchant.user.email }}>Contact
                                            Merchant
                                        </button>
                                        {#                                        <a href="{% url "product_detail" order.product.id %}">#}
                                        <button class="btn btn-outline-primary mr-3 my-2"
                                                data-toggle="modal"
                                                data-target="#exampleModal2"
                                                data-order-id={{ order.id }}
                                                        data-product-name={{ order.product.product_name }}
                                                data-quantity={{ order.quantity }}
                                                        {#                                                        data-session-id={{ order.session_id }}#}
                                                        data-has-paid={{ order.has_paid }}
                                                data-created-on={{ order.created_on }}
                                                        data-updated-on={{ order.updated_on }}
                                                data-notes={{ order.notes }}>
                                            Order Details
                                        </button>
                                        {#                                        </a>#}
                                        {% if order.product.is_rent %}
                                            <a href="{% url 'cancel_subscription' order.id %}">
                                                <button class="btn btn-outline-danger mr-3 my-2">
                                                    Cancel Subscription
                                                </button>
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-dark" id="exampleModalLabel">Contact</h5>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <h6>Phone:</h6>
                                        <a id="modal-phone"></a>
                                    </div>
                                    <div class="form-group">
                                        <h6>Email:</h6>
                                        <a id="modal-email"></a>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-dark" id="exampleModalLabel">Order</h5>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <h6>Product name:</h6>
                                        <a id="modal-product"></a>
                                    </div>
                                    <div class="form-group">
                                        <h6>Quantity:</h6>
                                        <a id="modal-quantity"></a>
                                    </div>
                                    {#                                    <div class="form-group">#}
                                    {#                                        <h6>Session id:</h6>#}
                                    {#                                        <a id="modal-session-id"></a>#}
                                    {#                                    </div>#}
                                    <div class="form-group">
                                        <h6>Has Paid:</h6>
                                        <a id="modal-has-paid"></a>
                                    </div>
                                    <div class="form-group">
                                        <h6>Created on:</h6>
                                        <a id="modal-created-on"></a>
                                    </div>
                                    <div class="form-group">
                                        <h6>Updated on:</h6>
                                        <a id="modal-updated-on"></a>
                                    </div>
                                    <div class="form-group">
                                        <h6>Notes:</h6>
                                        <a id="modal-notes"></a>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
{% block javascript %}
    <script>
        $('#exampleModal').on('show.bs.modal', function (event) {
            const button = $(event.relatedTarget); // Button that triggered the modal
            const merchant = button.data('merchant-name'); // Extract info from data-* attributes
            const email = button.data('merchant-email'); // Extract info from data-* attributes
            const phone = button.data('merchant-phone'); // Extract info from data-* attributes
            const modal = $(this);
            modal.find('.modal-title').text('Contact ' + merchant)
            modal.find('#modal-phone').text(phone)
            modal.find('#modal-email').text(email)
            modal.find('#modal-phone').attr("href", 'tel:' + phone)
            modal.find('#modal-email').attr("href", 'mailto:' + email)
        })

        $('#exampleModal2').on('show.bs.modal', function (event) {
            const button = $(event.relatedTarget); // Button that triggered the modal
            const order_id = button.data('order-id'); // Extract info from data-* attributes
            const product = button.data('product-name'); // Extract info from data-* attributes
            const quantity = button.data('quantity'); // Extract info from data-* attributes
            {#const session_id = button.data('session-id'); // Extract info from data-* attributes#}
            const has_paid = button.data('has-paid'); // Extract info from data-* attributes
            const created_on = button.data('created-on'); // Extract info from data-* attributes
            const updated_on = button.data('updated-on'); // Extract info from data-* attributes
            const notes = button.data('notes'); // Extract info from data-* attributes
            const modal = $(this);
            modal.find('.modal-title').text('Order ' + order_id)
            modal.find('#modal-product').text(product)
            modal.find('#modal-quantity').text(quantity)
            {#modal.find('#modal-session-id').text(session_id)#}
            modal.find('#modal-has-paid').text(has_paid)
            modal.find('#modal-created-on').text(created_on)
            modal.find('#modal-updated-on').text(updated_on)
            modal.find('#modal-has-paid').text(has_paid)
            modal.find('#modal-notes').text(notes)
        })
    </script>
{% endblock javascript %}

