{% extends "base.html" %}
{% block css %}
    <style>
        td:not(:last-child) {
            white-space: nowrap;
        }

        td:last-child {
            width: 100%;
        }

        td {
            word-break: break-word;
        }

        .table-btn-fill {
            background-color: #6c757d;
            color: white;
        }

        .table-btn-outline {
            background-color: white;
            color: #6c757d;
            border: 1px solid #6c757d;
        }
    </style>
{% endblock css %}
{% block content %}
    <div class="container-fluid px-0 h-100 main-sec" style="min-height: 50vh;">
        <div class="row d-flex justify-content-between h-100 m-0 py-4 w-100 mx-auto" style="max-width: 1800px;">
            <div class="col-12 col-lg-6 col-xl-5 p-0 pr-xl-2">
                <img src="{{ product.image.url }}" class="card img-fluid img-thumbnail" alt="product image"
                     style="object-fit: cover; aspect-ratio: 16/9; cursor: zoom-in;" data-toggle="modal"
                     data-target="#exampleModal">
            </div>

            <div class="col-12 col-lg-6 col-xl-7 p-0" style="word-break: break-all;">
                <h2 class="text-dark mb-0">
                    {{ product.product_name }}
                </h2>
                <p class="text-muted">{{ product.bike_brand }}</p>
                <p class="text-right">
                    {{ product.address }}
                    <button class="btn btn-outline-info ml-2"
                            onclick="mapSearch()">
                        Search on map
                    </button>
                </p>
                {% if is_bike %}
                    <p class="text-muted mb-1 d-inline-block">Size: {{ product.bike_size }}</p>
                    <p class="text-muted mb-1 d-inline-block ml-4">Style: {{ product.bike_style }} </p>
                {% endif %}
                <p class="text-muted">
                    {{ product.description }}
                </p>

                <h4 class="text-dark d-inline-block"> ${{ product.price | floatformat:"2" }} </h4>
                <p class="text-success m-0 d-inline-block ml-4 align-top">In Stock: {{ product.stock }}</p>
                {% if not user.user_type == "Merchant" %}
                    <div class="input-group my-3" style="max-width: 120px;">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-dark js-btn-minus" type="button">&minus;</button>
                        </div>
                        <input type="number" class="form-control text-center" value="1" placeholder="" id="quantity"
                               aria-label="Example text with button addon" aria-describedby="button-addon1">
                        <div class="input-group-append">
                            <button class="btn btn-outline-dark js-btn-plus" type="button">&plus;</button>
                        </div>
                    </div>
                {% endif %}
                {% if not user.user_type == "Merchant" %}
                    {% if is_bike and product.is_rent %}
                        <button class="btn btn-info mt-2" id="checkout-button">Book Now</button>
                    {% else %}
                        <button class="btn btn-info mt-2" id="checkout-button">Buy Now</button>
                    {% endif %}
                {% endif %}

            </div>
        </div>
        <!-- modal that displays the zoomed image -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                style="outline: none;">
                            <p style="font-size: 35px; line-height: 20px;" class="text-danger d-inline-block">
                                &times;</p>
                        </button>
                        <img src="{{ product.image.url }}" class="card img-fluid img-thumbnail" alt="product image">
                    </div>
                </div>
            </div>
        </div>
        <div class="w-100 mx-auto m-0 mt-3" style="max-width: 1800px;">
            <div class="mb-2">
                <button class="btn table-btn table-btn-fill">
                    Overview
                </button>
                <button class="btn table-btn table-btn-outline">
                    Specifications
                </button>
            </div>
            <table class="table table-bordered product-table" style="max-width: 1000px;">
                <tbody>
                <tr>
                    <th scope="row">Brand</th>
                    <td>{{ product.bike_brand }}</td>
                </tr>
                <tr>
                    <th scope="row">Weight</th>
                    <td>{{ product.bike_weight }}</td>
                </tr>
                <tr>
                    <th scope="row">Power</th>
                    <td>{{ product.bike_power }}</td>
                </tr>
                <tr>
                    <th scope="row">Long Description Test</th>
                    <td>
                        {{ product.bike_longDescription }}
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="table table-bordered product-table d-none" style="max-width: 1000px;">
                <tbody>
                <tr>
                    <th scope="row">A</th>
                    <td>{{ product.bike_brand }}</td>
                </tr>
                <tr>
                    <th scope="row">B</th>
                    <td>{{ product.bike_weight }}</td>
                </tr>
                <tr>
                    <th scope="row">C</th>
                    <td>{{ product.bike_power }}</td>
                </tr>
                <tr>
                    <th scope="row">Long Description Test</th>
                    <td>
                        {{ product.bike_longDescription }}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <span hidden id="email">{{ request.user.email }}</span>
{% endblock content %}
{% block javascript %}
    <script>
        function mapSearch(location) {
            let url = '{{ product.address.formatted_address }}';
            url = url.replace('/', '%2F')
            window.open('https://www.google.com/maps/search/' + url)
        }

        let tableButtons = $('.table-btn');
        tableButtons.on('click', function () {
            // if this btn is already selected, return
            if ($(this).hasClass('table-btn-fill')) {
                return false;
            }

            // find the current selected btn and toggle it
            tableButtons.not(this).each(function () {
                if ($(this).hasClass('table-btn-fill')) {
                    $(this).removeClass('table-btn-fill');
                    $(this).addClass('table-btn-outline');
                    return false;
                }
            });

            // toggle current btn
            $(this).removeClass('table-btn-outline');
            $(this).addClass('table-btn-fill');

            // update table visibility
            $('.product-table').each(function () {
                $(this).toggleClass('d-none');
            })
        })
    </script>

    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript">
        // Create an instance of the Stripe object with your publishable API key
        var stripe = Stripe('{{ stripe_publishable_key }}');
        var checkoutButton = document.getElementById('checkout-button');


        checkoutButton.addEventListener('click', function () {

            var email = document.getElementById('email').innerHTML;
            var quantity = document.getElementById('quantity').value;
            if (email.length === 0) {
                alert("Please enter your email address.");
                return;
            }
            if (quantity === 0) {
                alert("Number cannot be zero");
                return;
            }

            if (quantity > {{ product.stock }}) {
                alert("Insignificant stock");
                return;
            }

            // Create a new Checkout Session using the server-side endpoint you
            // created in step 3.
            fetch("{% url 'api_checkout_session' id=product.id %}", {
                method: 'POST',
                body: JSON.stringify(
                    {
                        email: email,
                        quantity: quantity
                    },
                )
            })
                .then(function (response) {
                    return response.json();
                })
                .then(function (session) {
                    return stripe.redirectToCheckout({sessionId: session.sessionId});
                })
                .then(function (result) {
                    // If `redirectToCheckout` fails due to a browser or network
                    // error, you should display the localized error message to your
                    // customer using `error.message`.
                    if (result.error) {
                        alert(result.error.message);
                    }
                })
                .catch(function (error) {
                    console.error('Error:', error);
                });
        });
    </script>
{% endblock javascript %}
